*{
    margin: 0;
    padding: 0;
}
.boxContent{
    float: left;
    width: 600px;
    height: 252px;
   /* background-color: #4c4c4c;*/
    overflow: auto;
}
/*::-webkit-scrollbar {
    display: none; !* Chrome Safari *!
}*/
.boxContent .title {
    height: 25px;
    font-size: 20px !important;
    color: rgba(0, 0, 0, .8);
    line-height: 25px;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-left: 7px;
}
.boxOut{
    position: relative;
    float: left;

    width: 380px;
    height: 70px;
    padding-top: 8px;
    margin-top: 5px;
    margin-left: 5px;
}
.boxImg{
    float: left;
    width: 80px;
    height:90px;
    background-color: #91d5ff;
}
img{
    position: absolute;
    top: 10px;
    width: 80px;
    height: 80px;

}
.boxText{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;;
}
[dataTitle] {
    position: relative;
    margin: 0 20px;

}

[dataTitle]:after {
    content: attr(dataTitle);
    position: absolute;
    left: 40px;
    top: 30px;
    width: auto;
    height: 35px;
    transform: translate(-50%, 0);
    color:#000000;
    line-height: 30px;
    /*text-shadow: 0 -1px 0px black;*/
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    transition: all .3s;
    /*opacity: 1;*/
    visibility: hidden;
    z-index: 11;

}

[dataTitle]:hover:after {
    transition-delay: 100ms;
    visibility: visible;
    transform: translate(-50%, -6px);
    opacity: 1;
}
