* {
    margin: 0;
    padding: 0;
}

html, body {
    /*height: 100%;*/
    height: 4000px;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: rgb(153, 162, 169);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(top, #222, #333);
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
section {
    display: flex;
    position: relative;
}

.banner {
    display: flex;
}

.banner img {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 70%;
}

.searchInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 12%;
    /*border: 1px solid rebeccapurple;*/
    border-radius: 15px;
    background: rgba(31, 56, 88, .6);
}

.searchInput input {
    display: flex;
    position: absolute;
    left: 5px;
    width: 80%;
    height: 65%;
    border-radius: 5px;
    font-family: PingFangSC-Regular;
    font-size: 1.4rem;
    letter-spacing: 0px;
    outline: none;
}

.searchInput .searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    width: 18%;
    height: 50px;
    border-radius: 5px;
    background-color: green;
}

/*产品说明*/
.Grid {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 5rem;
    line-height: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -16%;
    margin-bottom: 1%;
    background-color: #ffffff;
}

.Grid-cell {
    flex: 1;
    position: absolute;
    margin-right: 25%;
}

.Grid-cell h3 {
    padding-bottom: 2%;
    font-size: 1.5rem;
    color: rgb(61, 66, 70);
    font-family: "Alibaba Sans";
}

.Grid-cell p {
    color: #a9afb5;
}

.Grid-cell:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10%;
    top: 25%;
    width: 12%;
    height: 40%;
    border-radius: 5px;
    background-color: #06b3b9;
}

.Grid-cell:nth-child(2) a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem;
}

.Grid-cell:nth-child(2) a:hover {
    color: #ffffff;
}

/*新闻资讯*/
.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    margin-top: -3%;
    /*background-color: peru;*/
}

.newsTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50%;
    padding-top: 1%;
}

.newsTitle div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: rgb(34, 35, 37);
}

.newsTitle div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    color: rgb(153, 162, 169);
    line-height: 2rem;
    padding-left: 25%;
}

.newsTitle div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 25%;
    margin-top: 10%;
    border-bottom: 1px solid rgb(6, 178, 182);
}

.newsModules {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 1070px;
    height: 80%;
    /* border: 1px solid red;*/
    white-space: nowrap;
    overflow-x: auto;
}

::-webkit-scrollbar {
    display: none;
}

.newsModules .newsModule {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    left: 2%;
    width: 95%;
    height: 90%;
    margin-left: 2%;
    box-shadow: 1px 1px 6px 0px rgb(0, 0, 0, .3);
    background-color: #ffffff;
}

.newsModule .newsModuleImg img {
    width: 40%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.newsModule .newsModuleDesc {
    width: 340px;
}

.newsModule .newsModuleDesc h2 {
    display: flex;
    width: 50px;
    height: 30px;
    margin-left: 10%;
    margin-top: 10%;
}

.newsModule .newsModuleDesc p {
    display: block;
    white-space: normal;
    width: 85%;
    height: 10rem;
    margin-left: 10%;
    margin-top: 5%;
    /*background-color: coral;*/
}

/*产品中心*/
.productCenter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 740px;
    padding-bottom: 5%;
    background-color: #ffffff;
}

.productTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50%;
    padding-top: 1%;
}

.productTitle div:nth-child(1) {
    font-size: 1.6rem;
    color: rgb(34, 35, 37);
}

.productTitle div:nth-child(2) {
    font-size: 1rem;
    color: rgb(153, 162, 169);
    line-height: 2rem;
    padding-left: 5%;
}

.productTitle div:nth-child(3) {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    border-bottom: 1px solid rgb(6, 178, 182);
}

/*产品图标列表*/
.productList {
    position: absolute;
    top: 12%;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: auto;
}

/*::-webkit-scrollbar {
    display: none; !* Chrome Safari *!
}*/

.productList .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
}

.productList .item a {
    color: #000000;
}

.productList .item a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 25%;
}

.productList .item a img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.productList .item a .name {
    display: flex;
    font-size: 1.3rem;
    padding-top: 10px;
}

/*产品列表篇*/

.productLists {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-left: -5%;
    overflow: auto;
}

.productLists .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.productLists .item a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    color: #000000;
}

.productLists .item a img {
    display: flex;
    width: 40%;
    height: 100%;
    border-radius: 50%;
}

.productContentDesc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
}

.productContentDesc p:nth-child(1) {
    display: flex;
    font-size: 1.6rem;
    padding-bottom: 15%;
}

.productContentDesc p:nth-child(2) {
    display: flex;
    font-size: 1.2rem;
    color: rgb(153, 162, 169);
}

/*IT小助手*/
.itHelper {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #ffffff;
}

.itHelperTitle {
    margin-left: 50%;
    padding-top: 1%;
}

.itHelperTitle div:nth-child(1) {
    font-size: 1.6rem;
    color: rgb(34, 35, 37);
}

.itHelperTitle div:nth-child(2) {
    font-size: 1.2rem;
    color: rgb(153, 162, 169);
    line-height: 2rem;
    padding-left: 1%;
}

.itHelperTitle div:nth-child(3) {
    width: 8%;
    margin-left: 4%;
    margin-top: 2%;
    border-bottom: 1px solid rgb(6, 178, 182);
}

/*IT小助手模块列表*/
article {
    display: flex;
    flex-wrap: wrap;
}

.itHelperModules {
    display: flex;
    margin-left: 2%;
    margin-top: -25%;
    position: relative;
    top: 80%;
    z-index: 110;
}

.itHelperModules .itHelperModule {
    position: relative;
    display: flex;
    width: 32%;
    height: 35%;
    margin-left: 2%;

}

.itHelperModules .itHelperModule:nth-child(1) {
    background-color: #e5e9f1;
}

.itHelperModules .itHelperModule:nth-child(2) {
    background-color: #f1edec;
}

.itHelperModules .itHelperModule:nth-child(3) {
    background-color: #dbf5ec;
}

.itHelperModules .itHelperModule a > p {
    position: absolute;
    left: 9%;
    top: 5%;
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
}

.itHelperModules .itHelperModule a > img {
    display: flex;
    width: 100%;
    height: 70%;
    margin-left: 180%;
    margin-top: 37%;
}
